body {
    background-image: url('A04B66CF-D9DD-4103-A3C0-45CBEFCF2B4C_4_5005_c.jpeg');
    background-size: cover;  
    background-position: center;
    background-repeat: no-repeat; 
    color: white; 
    text-shadow: 1px 1px 4px black;
}
