html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-image: url('YOUR_IMAGE_FILENAME.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-shadow: 1px 1px 4px black;
    padding: 100px 0;
}



footer {
    margin-top: auto;
}
